*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;

}


html{
    background-color: rgb(233, 8, 8);
}

.game_canvas{
    display: block;
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 50px auto 50px;
}